[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KWCChangepoint"]
	path = KWCChangepoint
	url = https://github.com/adeeb99/kwcchangepoint
